/*
!/TP03-FluidSPH/
/TP03-FluidSPH/*
!/TP03-FluidSPH/CMakeLists.txt
!/TP03-FluidSPH/src

!/TP03-FluidSPH/dep
/TP03-FluidSPH/dep/*
!/TP03-FluidSPH/dep/opencl

!/IGR205-PBF/
/IGR205-PBF/*
!/IGR205-PBF/CMakeLists.txt
!/IGR205-PBF/src

!/IGR205-PBF/dep
/IGR205-PBF/dep/*
!/IGR205-PBF/dep/opencl